@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2c2c;
}

.container {
    width: 80%;
    height: 90%; 
    max-height: 600px; 
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424A4A;
    padding: 1rem;
}

.form-image img {
    max-width: 100%; 
    height: auto; 
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #00FA9A;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: 1.1rem; 
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    width: calc(100% - 2.4rem); 
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #424A4A;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #00FA9A;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.continue-button button:hover {
    background-color:black;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.cadastro p{
    color: #424A4A;
}

.cadastro a{
    color: #757474;
    text-decoration: none;
    transition: .2s;
}

.cadastro a:hover{
    color: white;
    transform: scale(1.10);
}

.clear {
    background-color: transparent;
    border: none;
}

button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}

.error {
    background: red;
    color: white;
    display: none;
} 

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
        max-height: none;
        flex-direction: column;
        align-items: center; /* Centraliza o conteúdo na vertical */
    }
    .form-image,
    .form {
        width: 100%; /* Garante que ambas as partes ocupem 100% da largura */
        padding: 2rem 0; /* Adiciona um espaçamento uniforme */
    }
    .input-group {
        flex-direction: column;
        padding: 0; /* Remove o padding para ajustar melhor os elementos */
        max-height: none; /* Remove a altura máxima */
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .form-header {
        flex-direction: column;
        align-items: center; /* Centraliza o cabeçalho na vertical */
    }
    .form-header h1::after {
        margin: 1rem auto; /* Ajusta o espaçamento do sublinhado */
    }
    .input-box input {
        padding: 0.6rem 1rem; /* Reduz o padding dos inputs */
        font-size: 0.9rem; /* Aumenta o tamanho da fonte */
    }
    .continue-button button {
        margin-top: 2rem; /* Ajusta o espaçamento do botão */
    }
}
